# Node-RED data
node-red-data/

# Grafana data
grafana-data/

# Postgres data
postgres-data/
timescaledb-data/

# Env files
.env
.env.local
.env.*.local


# Logs
*.log

# VS Code settings (optional)
.vscode/


# OS files
.DS_Store
Thumbs.db