version: "3.7"

services:
  node-red:
    image: nodered/node-red:latest
    environment:
      - TZ=Europe/Amsterdam
    ports:
      - "1880:1880"
    networks:
      - console-mobilab-network
    volumes:
      - node-red-data:/data
      - ./node-red/settings.js:/data/settings.js
    depends_on:
      - postgres

  grafana:
    image: grafana/grafana-oss:latest
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - TZ=Europe/Amsterdam
    ports:
      - "3002:3000"
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
      - ./grafana/mobilab_logo.svg:/usr/share/grafana/public/img/grafana_icon.svg:ro
      - ./grafana/mobilab_logo.png:/usr/share/grafana/public/img/fav32.png:ro
    networks:
      - console-mobilab-network
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    image: timescale/timescaledb:latest-pg15
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - console-mobilab-network
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=iot_data
    restart: unless-stopped

volumes:
  node-red-data:
  grafana-data:
  postgres-data:

networks:
  console-mobilab-network: